<div class="root">


  <div class="board">
    <div class="board-bar">
      <p class="board-name">My_Board</p>
    </div>
    <block-ui>
      <app-online-status
        [onlineStatusMessage]="connectionStatusMessage"
        [onlineStatus]="connectionStatus">
      </app-online-status>
    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>

        <div class="board-column" *ngFor="let column of board.columns">

          <div class="column-title">
            {{ column.name }}
            <button *ngIf="column.name === 'Todo'" (click)="initialAddCard()">add</button>
          </div>
          <div
            class="tasks-container"
               cdkDropList
               #todoList = "cdkDropList"
               [cdkDropListData]="column.tasks"
               (cdkDropListDropped)="drop($event)"
               >
            <div class="task"  *ngFor="let item of column.tasks; let i = index" cdkDrag>
                <div *ngIf="item.editable">
                  <textarea rows="6" cols="33" [(ngModel)]="item.task"></textarea>
                </div>
                <div *ngIf="!item.editable">
                  {{ item.task }}
                </div>
                <div >
                  <button style="margin-bottom: 10px" (click)="deleteCard(column.name, i)">delete</button>

                  <div *ngIf="item.editable">
                    <button (click)="saveCard(column.name, i)">save</button>
                  </div>
                  <div *ngIf="!item.editable">
                    <button (click)="editCard(column.name,i)">edit</button>
                  </div>
                </div>


            </div>
          </div>
        </div>

      </div>

    </div>
    </block-ui>

  </div>

</div>
