<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">
      <p class="board-name">My Board</p>
    </div>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">

          <div class="column-title">
            {{ column.name }}
            <button *ngIf="column.name === 'Todo'" (click)="addCard()">dodaj</button>
          </div>

          <div class="tasks-container"
               cdkDropList
               #todoList = "cdkDropList"
               [cdkDropListData]="column.tasks"
               (cdkDropListDropped)="drop($event)"
               >
            <div class="task"  *ngFor="let item of column.tasks; let i = index" cdkDrag>
                <div *ngIf="item.editable">
                  <textarea rows="6" cols="33" [(ngModel)]="item.task"></textarea>
                </div>
                <div *ngIf="!item.editable">
                  {{ item.task }}
                </div>
                <div >
                  <button (click)="deleteCard(column.name, i)">usuń</button>

                  <div *ngIf="item.editable">
                    <button (click)="saveCard(column.name,i)">zapisz</button>
                  </div>
                  <div *ngIf="!item.editable">
                    <button (click)="editCard(column.name,i)">edytuj</button>
                  </div>
                </div>


            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
